.element {
  .link {
    transition: var(--transition-2) ease-in-out;
    padding: 10px;
    border: 1px solid var(--color-badge-hit);
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .label {
      font-size: 10px;
    }

    .labelInfo {
      transition: var(--transition-2) ease-in-out;
      margin-left: 4px;
      color: var(--color-badge-hit);
    }
  }
}
