.customSelect {
  width: 33%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .select {
    width: 100%;
    border: 1px solid var(--color-badge-hit);
    background-color: #242424;
    padding: 10px 5px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
  }
}
